.EgardenPage_Background {
    width: 75%;
}

.EgardenPage_inner {

    display: flex;
    flex-direction: column;
}

.EgardenPage_title {
    font-weight: 650;
    font-size: var(--fullPage-title-font-size);
    color: var(--fullPage-text-color);
}

.EgardenPage_text {
    margin-top: 30px;
    font-weight: 450;
    font-size: var(--fullPage-body-font-size);
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    color: var(--fullPage-text-color);
    padding: 10px;
    font-weight: bold;
    line-height: 1.5;
}

.EgardenM_pictures {
    display: none;

}

.EgardenPage_pictures {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

.EgardenPage_pic {
    margin-right: 1%;
    height: auto;
    width: 33%;

}


@media screen and (max-width: 480px) {

    .Egarden_hidden {
        display: none;
    }

    .EgardenPage_title {

        font-size: var(--fullPage-mobile-title-font-size);
        font-weight: 600;
    }

    .EgardenPage_text {
        padding: 13px;
        background-color: rgba(255, 255, 255, 0.53);
        border-radius: 10px;
        font-size: var(--fullPage-mobile-body-font-size);
    }

    .EgardenPage_pictures {
        display: none;
    }

    .EgardenM_pictures {
        display: block;
    }

    .EgardenM_buttons {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .Eb {
        margin-right: 3px;
        width: 30px;
        border-style: solid;
        border-radius: 10px;
        border-color: #ffffff;
        background-color: #ffffff;
        color: var(--fullPage-button-color);
        border-width: 2px;
    }

    .Eb:hover {
        background-color: var(--fullPage-button-color);
        color: #ffffff;
    }

    .EgardenM_pic {
        width: 100%;
        height: auto;
    }
}