.EgardenPage_inner {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.EgardenPage_title {
    font-weight: 650;
    font-size: 75px;
    color: #5B0C2B;
}

.EgardenPage_description {
    padding-top: 30px;
    font-weight: 450;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    color: #5B0C2B;
}

.EgardenPage_pictures {

    padding-top: 80px;
    display: flex;
    flex-direction: row;

}

.EgardenPage_pic {
    height: 250px;

}

#EgardenPage_pic1 {
    background-image: url(../../../../public/img/Egarden_pic1.png);
    width: 328px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#EgardenPage_pic2 {
    background-image: url(../../../../public/img/Egarden_pic2.png);
    width: 353px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#EgardenPage_pic3 {
    background-image: url(../../../../public/img/Egarden_pic3.png);
    width: 354px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}