.EgardenPage_Background {
    width: 75%;
}

.EgardenPage_inner {
    
    display: flex;
    flex-direction: column;
}

.EgardenPage_title {
    font-weight: 650;
    font-size: 75px;
    color: #5B0C2B;
}

.EgardenPage_text {
    margin-top: 30px;
    font-weight: 450;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    color: #5B0C2B;
}

.EgardenM_pictures {
    display: none;
}

.EgardenPage_pictures {
    padding-top: 80px;
    display: flex;
    flex-direction: row;

}

.EgardenPage_pic {
    height: 250px;

}

#EgardenPage_pic1 {
    background-image: url(../../../../public/img/Egarden_pic1.png);
    width: 328px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#EgardenPage_pic2 {
    background-image: url(../../../../public/img/Egarden_pic2.png);
    width: 353px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#EgardenPage_pic3 {
    background-image: url(../../../../public/img/Egarden_pic3.png);
    width: 354px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .Egarden_hidden {
        display: none;
    }

    .EgardenPage_title {

        font-size: 43px;
        font-weight: 600;
    }

    .EgardenPage_text {
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: rgba(255, 255, 255,0.53);
        border-radius: 10px;
        font-size: 14px;
    }

    .EgardenPage_pictures {
        display: none;
    }

    .EgardenM_pictures {
        display: block;
    }

    .EgardenM_buttons {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Eb {
        margin-right: 3px;
        width: 25px;
        background-color: rgba(255, 255, 255,0.3);
        border-radius: 30px;
    }

    .EgardenM_pic {
        width: 100%;
        height: auto;
    }
}