.ColorPage_Background {
    width: 75%;
}

.ColorPage_inner {
    
    display: flex;
    flex-direction: column;
}

.ColorPage_title {
    font-weight: 650;
    font-size: var(--fullPage-title-font-size);
    color: var(--fullPage-text-color);
    padding-bottom: 30px;
}

.ColorPage_text {
    margin-top: 30px;
    font-weight: 450;
    font-size: var(--fullPage-body-font-size);
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    line-height:25px;
    color: var(--fullPage-text-color);
}


.ColorPage_pictures {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20%;


}

.Color_logo {
    width: 286px;
    height: auto;
    margin-bottom: 50px;
}



@media screen and (max-width: 480px) {

    .ColorPage_title {

        font-size: var(--fullPage-mobile-title-font-size);
        font-weight: 600;
        padding-bottom: 0px;
    }

    .ColorPage_text {
        padding: 13px;
        background-color: rgba(255, 255, 255,0.53);
        border-radius: 10px;
        font-size: var(--fullPage-mobile-body-font-size);
    }

   .ColorPage_pictures {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

}