body {
    margin : 0;
  }
  
  
  .uiInfo_container {
    background-image: url(../../../../public/img/vector_1st.png), url(../../../../public/img/Vector_2nd.png), url(../../../../public/img/vector_3rd.png);
    background-size: 35vw, 22.9vw, 41.8vw;
    /*background-size: 35vw 15.8vh, 22.9vw 39.7vh, 41.8vw 40.8vh;*/
    background-position: 0px 0px, 77.1vw 0px, 0px 30.2vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content : center;
    align-items:center;
    font-size:36px;
    }