body {
  margin: 0;
}


.section-common {
  background-image: url(../../../../public/img/background_image.png);
  background-size: cover;
  /*background-size: 35vw 15.8vh, 22.9vw 39.7vh, 41.8vw 40.8vh;*/
  background-position: 0px 0px, 77.1vw 0px, 0px 30.2vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 36px; */
  background-attachment: fixed !important;
  overflow: hidden;
}


.section-area1,
.section-area2,
.section-area3,
.section-area4 {
  background-color: white;
}

.slide-navigation button:nth-child(1) {
  display: none;
}

.slide-navigation button:nth-last-child(1) {
  display: none;
}

.slide-navigation button {
  flex-direction: column;
  justify-content: space-around;
  background-color: #5B0C2B;
  border-radius: 10px;
  border: 1px solid #5B0C2B;
  width: 5px;
  height: 15px;
  margin: 30px 30px;
  font-size: 0px;
  cursor: pointer;
}

.slide-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  height: 50%;
  float: right;
  margin: 15% 0px 0px 90%;
}


.slide-navigation button:disabled {
  background-color: #5B0C2B;
  padding: 3px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 3px #F3F3F3 inset;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {

  .slide-navigation {

    width: 10%;
    height: 50%;
    margin: 30% 0px 0px 90%;
  }


}

@media screen and (max-width: 480px) {

  .section-common {
    background-image: url(../../../../public/img/mobile_background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

  }


}


@media screen and (max-width: 400px) {

  .slide-navigation {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 10%;
      float: right;
      margin: 0%;
  }


}