body {
    margin : 0;
  }
  
  
  .section-common {
    background-image: url(../../../../public/img/background_image.png);
    background-size: cover;
    /*background-size: 35vw 15.8vh, 22.9vw 39.7vh, 41.8vw 40.8vh;*/
    background-position: 0px 0px, 77.1vw 0px, 0px 30.2vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content : center;
    align-items:center;
    font-size:36px;
    background-attachment: fixed !important;
    }

    
  
  .section-area1 {
    background-color : white;
  }
  .section-area2 {
    background-color : white;
  }
  .section-area3 {
    background-color : white;
  }
  
  
  .slide-navigation button:nth-child(1) {
    display: none;
  }
  
  .slide-navigation button:nth-last-child(1) {
    display: none;
  }
  
  .slide-navigation button {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 5px;
    height: 15px;
    margin: 0 5px;
    font-size: 0px;
    cursor: pointer;
  }
  
  .slide-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
  }
  
  .slide-navigation button:disabled {
    background-color: black;
    border: 1px solid white;
  }