.servicePage_container {
    width: 75%;
    height: 100;
    display: flex;
}

.servicePage_main_container {
    width: 100%;
    height: auto;
    display: flex;
}

.servicePage_left_container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-top: 5%;
}

.servicePage_left_title {
    display: flex;
    font-weight: 650;
    font-size: var(--fullPage-title-font-size);
    color: var(--fullPage-text-color);
    letter-spacing: 1px;
    padding-left: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
}


.servicePage_left_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicePage_left_content_1,
.servicePage_left_content_2,
.servicePage_left_content_3 {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2%;
    margin-bottom: 3%;

}

.servicePage_left_content_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 550;
    font-size: 20px;
    color: var(--fullPage-text-color);
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin: 2%;
}

.servicePage_left_content_body {
    font-weight: 450;
    font-size: var(--fullPage-body-font-size);
    color: var(--fullPage-text-color);
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin: 2%;
    line-height: 1.5;
}

.servicePage_right_container {
    width: 35%;
    height: auto;
    display: flex;
}

.servicePage_right_container {
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .servicePage_left_title {
        font-size: 30px;
    }

    .servicePage_left_content_title {
        font-size: 18px;
    }

    .servicePage_left_content_body {
        font-size: 15px;
    }

}