
.Home_Background {
    width: 75%;
    display: flex;
}



.Home_title {

    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--fullPage-text-color);
}

.Home_comingsoon {
    padding-top: 15px;
    font-weight: 800;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 1px;
    color: var(--fullPage-text-color);
}

.timer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 90%;
    height: 100%;
}

.timer-container {
    width: 48%;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: space-between;
}

.timer-box {
    background-color: rgba(216, 216, 216, 0.33);
    border-radius: 5px;
    justify-items: space-around;
    width: 100px;
    height: 130px;
    margin-left: 5px;
}

.timer-time {
    color: var(--fullPage-text-color);
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

.timer-font {
    color: var(--fullPage-text-color);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 7.5%;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {

    .Home_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
    }
    
    .Home_comingsoon {
        font-weight: 800;
        font-size: 51px;
        line-height: 60px;
        letter-spacing: 1px;
        word-spacing: 400px;
        color: var(--fullPage-text-color);
    }

    .timer {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .timer-container {
        margin-top: 10px;
    }

    .timer-box {
        width: 250px;
        height: 130px;
    }

}