
.Home_Background {

    width: 100vw;
    height: 100vh;
}

.Home_inner {
    width: 75%;
    margin: 0 auto;
}

.Home_title {
    padding-top: 200px;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #5B0C2B;
}

.Home_comingsoon {
    padding-top: 15px;
    font-weight: 800;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #5B0C2B;
}

.timer {
    display: flex;
    flex: column;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 100%;
}

.timer-box {
    background-color: rgba(216, 216, 216, 0.33);
    border-radius: 5px;
    justify-items: space-around;
    width: 100px;
    height: 130px;
    margin-left: 5px;
}

.timer-time {
    color: #5B0C2B;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

.timer-font {
    color: #5B0C2B;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 7.5%;
    text-align: center;
    margin-top: 10px;
}
